---
export interface Props {
  icon: string;
  class?: string;
}

const { icon, class: className = "" } = Astro.props;
---

<div
  class={`relative flex h-16 w-16 items-center justify-center border border-panel-accent/35 bg-aurora text-3xl text-white shadow-lg shadow-black/25 ${className}`}
>
  <i class={icon}></i>
  <div
    class="absolute inset-x-3 top-2 h-px bg-white/55"
  >
  </div>
</div>
